* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Roboto", sans-serif;
    background-color: aliceblue;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(4, 1fr);
    height: 100vh;
    width: 100%;
}

.sidebar {
    grid-area: 1 / 1 / 5 / 2;
    background: #1992D4;
    color: white;
        
}

.logo {
    display: flex;
    padding: 0px 10px;
    align-items: center;
    gap: 10px;
    
    

}
.logo h2{
    font-size: 2rem;
    

}

.logo svg {
    height: 4rem;
    width: 3rem;
    fill: white;
    
}
nav {
    margin: 20px 10px;
}
nav ul{
    display: grid;
    color: white;
    
    
}

nav li {
    display: flex;
    padding: 10px;
    list-style-type: none;
    
}

nav a {
    display: grid;
    text-decoration: none;
    font-family: inherit;
    color: inherit;
    align-items: center;
    font-size: 1.1rem;
    font-weight: bold;
}

nav svg {
    display: grid;
    fill: white;
    width: 1.2rem;
    object-fit: contain;   
    margin-right: 12px ;   

}